@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
@font-face {
    font-family: 'RWBY';
    src: url('/font/rwby_style.ttf');}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}
html{
    font-size: 14px;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: black;
}    
#container{
    max-width: 1400px;
    min-width: 300px;
    width: 100%;
    margin: auto;
}
#header img{
    display: block;
    width: 100%;
}
#navbar ul li {
    float: left;
    display: block;
    width: 24.9999%;
    border: 1px solid rgba(192, 192, 192,.2);
}
#navbar::after{
    display: table;
    content: '';
    clear: both;
}
#navbar ul li a{
    display: block;
    color: white;
    text-decoration: none;
    font-size: 3.5rem;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;    
    font-family: RWBY;
}
#contents{
    max-width: 1400px;
    color: white;   
}
#contents .content{
    float: left;
    display: block;
    width: 24.9999%;
    padding: 30px 10px;
    line-height: 1.5;
    font-size: 1.2rem;
}
#contents .content img{
    width: 50%;
    float: left;
    margin-right: 10px;
}
#contents .content::after{
    content: '';
    clear: both;
    display: table;
}
#header .medium{
    display: none;
}
#header .mobil{
    display: none;
}

