@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
@font-face {
    font-family: 'RWBY';
    src: url('/font/rwby_style.ttf');}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}
html{
    font-size: 14px;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: black;
}    
#container{
    max-width: 1400px;
    min-width: 300px;
    width: 100%;
    margin: auto;
}
#header img{
    display: block;
    width: 100%;
}
#navbar ul li {
    float: left;
    display: block;
    width: 24.9999%;
    border: 1px solid rgba(192, 192, 192,.2);
}
#navbar::after{
    display: table;
    content: '';
    clear: both;
}
#navbar ul li a{
    display: block;
    color: white;
    text-decoration: none;
    font-size: 3.5rem;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;    
    font-family: RWBY;
}
#contents{
    max-width: 1400px;
    color: white;   
}
#contents .content{
    float: left;
    display: block;
    width: 24.9999%;
    padding: 30px 10px;
    line-height: 1.5;
    font-size: 1.2rem;
}
#contents .content img{
    width: 50%;
    float: left;
    margin-right: 10px;
}
#contents .content::after{
    content: '';
    clear: both;
    display: table;
}
#header .medium{
    display: none;
}
#header .mobil{
    display: none;
}
@media (max-width:992px){
    #header .big{
        display: none;
    }
    #header .medium{
        display: block;
    }
#container>#contents>.content{
    display: grid;
    width: 50%;
    grid-template-columns: 1fr; 
    margin: 0 -5px;
}
#container>#contents>.content img{
    width: 100%;
}
.content p{
    padding-left: 10px;
}
.content .down{
    grid-area: down;
    position:relative;
    top: 180px;
}
.center{
    grid-area: center;
    position: relative;
    margin: -40px 0; 
}

#navbar{
    position: sticky;
    background-color: black;
    left: 0;
    right: 0;
    z-index: 1;

}
}
@media(max-width:576px){
    #container{
        min-width: 300px;
    }
    #header .medium{
        display: none;
    }
    #header .mobil{
        display: block;
    }
    #navbar ul li{
        display: block;
        width: 100%;
    }
    #navbar ul li a:hover{
        background-color: gray;
    }
    .content{
        display: grid;
        grid-template-columns: 1fr;
        max-width: 576px;
        box-sizing: initial;
        left: 0;
        right:0;
    }
    #container>#contents>.content>img{
        width: 200%;    
    }
    #container>#contents>.content>p{
        width: 200%;
        margin-bottom: -40px;
    }
    .content .down{
        all:initial;
        color: white;
        line-height: 1.5;
        font-size: 1.2rem;
        font-family: 'Roboto', sans-serif;  
    }
    .center{
        all:initial;
        color: white;
        line-height: 1.5;
        font-size: 1.2rem;  
        font-family: 'Roboto', sans-serif;  
    }
    #navbar ul li a{
        display:block;
        font-size: 2rem;
        padding: 10px 0;
    }
    #navbar{
        position: sticky;
    }
}

